{% extends "base.html" %}

{% block content %}
  {% if casa %}
    Tu casa está ubicada en {{ casa.address }}.
    <p>
    Puedes registar un farol <a href="{{ url_for('regled', cid=casa.id) }}">aquí</a>
    </p>
    <p>
    Puedes registar un sensor <a href="{{ url_for('regsensor', cid=casa.id) }}">aquí</a>
    </p>
    {% if leds %}
      <h3>Listado de faroles</h3>
      <table>
        <tr>
          <th>id</th>
          <th>Puerto</th>
        </tr>
        {% for led in leds %}
          <tr>
            {# <td><a href="{{ url_for('led') }}?lid={{led.id}}">{{ led.id }}</a></td> #}
            <td>{{ led.id }}</td>
            <td>{{ led.puerto }}</td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}

    {% if sensores %}
      <h3>Listado de Sensores</h3>
      <table>
        <tr>
          <th>id</th>
          <th>Puerto</th>
        </tr>
        {% for sensor in sensores %}
          <tr>
            {# <td><a href="{{ url_for('sensor') }}?lid={{sensor.id}}">{{ sensor.id }}</a></td> #}
            <td>{{ sensor.id }}</td>
            <td>{{ sensor.puerto }}</td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}
  {% endif %}
{% endblock %}
